# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage outputs
.coverage
htmlcov/
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Etc.
.env